
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/* 400 */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    max-height: 100vh;
    max-width: 100vh;
    background-image: url(fort.gif);
    background-size: cover;
}

.title {
    font-family: Rubik Doodle Shadow;
    font-weight: 500;
    font-size: 90px;
    position: absolute;
    letter-spacing: 1px;
    top: 20px;
    left: 90px;
    color: aliceblue;
}

.four {
    color:#9b5e5e;
}
.T {
    color: #c49180;
}
.R {
    color:#71967d;
}
.I {
    color:#48569d;
}
.S {
    color: #7f5585;
}



.container {

    display: flex;
    margin-bottom: 100px;
    margin-right: 700px;
}
  
.gridingrid {
    background-color: #23315a4d;
    position: relative;
    width: 400px;
    height: 800px;
}

.grid {
    width: 400px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
  
.grid div {
    height: 40px;
    width: 40px;
}
  
.tetromino{
    border-left: solid 6px rgb(238, 238, 238);
    border-top: solid 6px rgb(238, 238, 238);
    border-right: solid 6px #292929;
    border-bottom: solid 6px #292929; 

}

.mini-grid {
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}
  
.mini-grid div {
    height: 40px;
    width: 40px;
}

.startbtn-scores-upnext {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
    width: 250px;
}

.scores-upnext {
    border-left: solid 6px #ffffff;
    border-top: solid 6px #ffffff;
    border-right: solid 6px #1c1d20;
    border-bottom: solid 6px #1c1d20; 
    gap: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: 330px;
    background-color: #294083f3;
}

.main-score {
    border-bottom: 3px solid currentColor;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 1px;
    height: 60px
}

#score {
    font-size: 70px;
    margin-top: 10px;
    margin-right: 10px;
}

.main-score_score {
    font-family: DotGothic16;
    color: #bdc0d8;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
}

#pausebtn {
    font-family: DotGothic16;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: 2px solid;
    color: #ffffff;
    background: #4e64aaf3;
    height: 50px;
    width: 100px;
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    border-right: solid 4px #1c1d20;
    border-bottom: solid 5px #1c1d20; 
}

#pausebtn:active {
    background: #303d69f3;
}

.pause-grey { 
    font-family: DotGothic16, Rubik Doodle Shadow;
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0d0d0ea9;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#paused {
    font-size: 100px;
}

#resume-desc {
    font-size: 20px;
}

#resume {
    color: #4e64aaf3;
    font-size: 25px;
    

}



.gridingrid .beginbtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 50%;
    transform: translateX(150%);
    background-color: #9b5e5e;
    font-family: DotGothic16;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: 2px solid;
    color: #ffffff;
    background: #4e64aaf3;
    height: 40px;
    width: 100px;
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    border-right: solid 4px #1c1d20;
    border-bottom: solid 5px #1c1d20; 
}

.beginbtn:active {
    background: #303d69f3;
}

.gridingrid .restartbtn {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 50%;
    transform: translateX(150%);
    background-color: #9b5e5e;
    font-family: DotGothic16;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: 2px solid;
    color: #ffffff;
    background: #4e64aaf3;
    height: 40px;
    width: 100px;
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    border-right: solid 4px #1c1d20;
    border-bottom: solid 5px #1c1d20; 
}

.restartbtn:active {
    background: #303d69f3;
}

.cloud {
    margin: 0;
    position: absolute;
    right: 680px;
    transform: translateY(120%);
    height: 300px;
    width: 630px; /*cover*/
}